body{
    margin: 0;
    text-align: center;
    margin-top: 15px;
}
.ha{
    font-family: verdana;
    font-weight: normal;
    margin: 0;
}
.login{
    width: 400px;

    box-shadow: 0px 0px 5px 2px rgb(0, 0, 0,0.1);
    margin-top: 15px;
    margin-left:750px;
    background-color: white;
    border-radius: 10px;
    padding: 15px;
}
input{
    padding: 15px;
    display: block;
    width: 92%;
    outline: none;
    font-size: 15px;
    border-radius: 10px;
    border: 1px solid rgb(0,0,0,0.1);
}
button{
    margin-top: 15px;
    width: 100%;
    display:block;
    color: white;
    background-color: #0866ff;
    padding: 15px;
    border-radius: 10px;
    font-size: 15px;
    border: none;
    font-weight: bold;
}
a{
    display: block;
    margin: 15px;
    text-decoration: none;
    color: #0866ff;
    font-weight: normal;
    font-family: arial;
    font-size: 14px;
}
a:hover{
    text-decoration: underline;
}
hr{
    margin: 20px 16px;
    opacity: 0.2;
}
#new{
    display: block;
    width: 50%;
    margin: 15px auto;
    background-color: #42b72a;
    font-size: 17px;
}
#ha{
    display: inline-block;
    font-weight: bold;
    margin-right: 5px;
}
.red{
    
    font-family: arial;
    font-size: 14px;
}
