nav{
    background-color: black;
    padding: 10px;
    box-shadow: 0 0 15px 10px rgb(0, 0, 0, 0.5);

}
.brand{
    display: inline-block;
}
.hihi{
    display: inline-block;
    margin: 0;
    color: white;
    position: relative;
    bottom: 15;
    left: 15;
}
.links-container{
    float: right;
    position: relative;
    top: 15;
    
}
.link{
    margin: 10px 80px;
    padding: 5px;
    color:white ;
    text-decoration: none;
    transition: .5s;
}
.link:hover{
    color: gold;
}
.btn-link{
    background-color: gold;
    margin: 10px 50px;
    border: 3px solid red;
    padding: 5px;
    color: white;
    text-decoration: none;
    border-radius: 25px;
    transition: .5s;
}
.btn-link:hover{
    padding: 5px 20px;
    color: green;
}